body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #ebebeb;
  min-height: 100vh;
}

.mainDiv {
  padding-top: 20px;
}

.card {
  background-color: #fff;
  height: 25rem;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  overflow: auto;
}

.filterCard {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
}

.unavailable {
  padding-left: 20px;
}

.mission {
  color: darkblue;
}

.base-font {
  font-size: 1rem;
}

.bold-weight {
  font-weight: 700;
}

.underline {
  text-decoration-line: underline;
}

.year {
  border: 1px solid;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
  background-color: palegreen;
}

.selected {
  background-color: greenyellow;
}

.rowCard {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .cardPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .filterMargin {
    margin-bottom: 1rem;
  }
}